# =============================================================================
# QCar2 Object Detections - Configuration Parameters
# =============================================================================

image_preprocessor_node:
  ros__parameters:
    input_image_topic: "/camera/color_image"
    output_image_topic: "/image"
    input_width: 640
    input_height: 480
    target_width: 640
    target_height: 640
    padding_color: [0, 0, 0]
    input_encoding: "bgr8"

detection_filter_node:
  ros__parameters:
    # ----------------- Inputs -----------------
    image_topic: "/image"
    detections_input_topic: "/detections_output"
    zebra_image_topic: "/camera/csi_image_3"

    # ----------------- Outputs ----------------
    person_output_topic: "/detections/person"
    traffic_light_output_topic: "/detections/traffic_light"
    stop_sign_output_topic: "/detections/stop_sign"
    zebra_output_topic: "/detections/zebra_crossing"

    # ----------------- Class IDs -----------------
    person_class_id: "0"
    traffic_light_class_id: "9"
    stop_sign_class_id: "11"

    # ----------------- Thresholds ----------------
    min_confidence: 0.60

    # ===================== DEBUG VIEWS =====================
    person_debug_view: false
    person_window_name: "person_debug"

    stop_sign_debug_view: false
    stop_sign_window_name: "stop_debug"

    traffic_light_debug_view: false

    zebra_debug_view: false
    zebra_window_name: "zebra_debug"

    # ===================== PERSON (ROI en %) =====================
    person_roi_x_min: 0.2
    person_roi_x_max: 0.8
    person_roi_y_min: 0.20
    person_roi_y_max: 0.85
    person_min_bbox_area: 10500
    person_confirm_frames_on: 2
    person_confirm_frames_off: 8

    # ===================== STOP SIGN (ROI en %) =====================
    stop_sign_roi_x_min: 0.95
    stop_sign_roi_x_max: 1.0
    stop_sign_roi_y_min: 0.25
    stop_sign_roi_y_max: 0.45

    #Con estos valores el robot para muy antes
    #stop_sign_roi_x_min: 0.62
    #stop_sign_roi_x_max: 1.0
    #stop_sign_roi_y_min: 0.25
    #stop_sign_roi_y_max: 0.75

    # ===================== ZEBRA =====================
    zebra_enabled: true
    zebra_roi_top: 0.75
    zebra_roi_bottom: 0.99
    zebra_roi_width: 0.8
    zebra_min_stripes: 5
    zebra_max_stripes: 13
    zebra_vote_threshold: 2
    zebra_vote_window: 8

    # ===================== TRAFFIC LIGHT =====================
    traffic_light_roi_x_min: 0.25
    traffic_light_roi_x_max: 0.75
    traffic_light_roi_y_min: 0.13
    traffic_light_roi_y_max: 0.45
    traffic_light_min_bbox_area: 600
    traffic_light_confirm_frames: 3

    traffic_light_sensitivity: 4 # mejor dif entre rojo y verde

    traffic_light_red_lower: [0, 160, 160]
    traffic_light_red_upper: [10, 255, 255]
    traffic_light_yellow_lower: [20, 30, 240]
    traffic_light_yellow_upper: [45, 160, 255]
    traffic_light_green_lower: [46, 140, 140]
    traffic_light_green_upper: [90, 255, 255]
